a{
    text-decoration: none;
    color: white;

}
/* *{
    background-image: url(https://vishnu.edu.in/images/logobig.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
} */

*{
    background-color: palegoldenrod;
}
