/* .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .bg {
    opacity: 0.1;
  }
  .h1{
    align-content: center;
  }
  .link
  {
    align-items: center;
  } */

 *{
  background-color: papayawhip;
  background-repeat: no-repeat;
  background-size: cover;
 }

 a{
  text-decoration: none;
  color: black;
 }
 li{
  font-size: 30px;
 }